

{{navbar}}
<div class = "container-fluid">
    <div class="row">
{{!--         <div class = "container">
 --}}
 {{!-- articles
 --}}

{{!--  //ARTLCES ON LEFT HALF OF SCREEN
 --}}<div class="col-md-6" id="articleCol">
        {{#each articles}}
        <div class="row article" data-id=
        "{{this._id}}" data-link="{{this.link}}">
            <p>{{this.title}}

            <a target="blank " href=" {{this.link}}">View Story</a>
           </p>
            
        </div>
        {{/each}}
    </div><!--Article Column -->

    
{{!-- //COMMENTS ON RIGHT HALF OF SCREEN
 --}}

 <div class="col-md-6" id="commentCol" align = "center">
        <div class = "row1">
        <div id="commentsDiv">
                <div id="commentFormDiv">
                
                    <form id="commentForm" align="center">
                        <div class = "form-group">
<label for="commentInput">
<h1>PENNY FOR YOUR THOUGHTS</h1></label>


                        <input type="text"class="form-control input-lg col-lg-6" id="commentText" name="text" placeholder="What is on your mind?" />
                        </div>
                        <button type ="submit"class="btn btn-danger btn-lg btn-block" id="commentSubmit"  data-article="none">Save Thought</button>
                    </form>
                </div>
            </div>
        </div> {{!end container div}}
        </div>{{!end row}}
        <div class = "row2">
             <div class = "col-md-6" align="center">             <h1>THOUGHTS</h1>
        

                <div id="comments" align='center'>
                
                </div>

            </div>
        </div> {{!end row div}}

    </div>{{!end RIGHT HALF}}

    </div>
    <!-- Comment Column -->
    </div>
